.footer {
    width: 100%;
    background-color: var(--footer-background-color); 
    color: var(--footer-text-color);
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px; 
    margin: 0 auto; 
}

.footer p {
    margin: 0;
    font-size: 1rem;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    .footer {
        padding: 15px;
    }

    .footer p {
        font-size: 0.9rem;
    }
}

.light-mode{
    --footer-background-color: rgb(34, 34, 34);
    --footer-text-color: rgb(255, 255, 255);
}

.dark-mode{
    --footer-background-color: rgb(68, 68, 68);
    --footer-text-color: rgb(221, 221, 221);
}